body{
    background-color: rgb(173, 219, 221);
}
.title{
    border: solid 1px black;
}
article{
    border: solid 1px black;
    margin-bottom: 30px;
}
main{
    display: flex;
    justify-content: center;
}
#board{
    display: grid;
    grid-template-columns: 200px 150px 150px 150px 150px 150px 150px 200px;
    grid-template-areas: 
        'p2-cell-7 p2-cell-6 p2-cell-5 p2-cell-4 p2-cell-3 p2-cell-2 p2-cell-1 p1-cell-14'
        'p2-cell-7 p1-cell-8 p1-cell-9 p1-cell-10 p1-cell-11 p1-cell-12 p1-cell-13 p1-cell-14';
    height: 300px;
}
.player-one{
    background-color: crimson;
    border: solid 1px black;
}
.player-two{
    background-color: cornflowerblue;
    border: solid 1px black;
}
.p1-store{
    grid-area: p1-cell-14;
    background-color: bisque;
    border: solid black 1px;
}
.p2-store{
    grid-area: p2-cell-7;
    background-color: bisque;
    border: solid black 1px;
}
